
<div class="container">
  <div class="table-wrapper">
      <div class="table-title">
          <div class="row">
              <div class="col-sm-6">
                  <h2>Liste <b>des utilisateurs</b></h2>
              </div>
              <div class="col-sm-6">

                    <button class="btn btn btn-success" (click)="initForm(content)" title="Ajouter" >
                      <i class="material-icons">&#xE147;</i>
                    </button>
              </div>
          </div>
      </div>

      <div class="table-responsive">

            <!-- loader  -->
                 <div class="contai">
                    <div *ngIf="loadSpinner" class="spinLoad">
                      <div class="text-loader">
                        <i class="fa fa-spinner fa-pulse fa-3x loadd"></i><br>
                      <h2>Chargement en cours</h2>
                      </div>
                    </div>
                 </div>
                 <!-- loader -->

      <table class="table project-table table-hover table-nowrap" *ngIf="!loadSpinner && utilisateurs.length!=0">
          <thead class="thead-light">
              <tr>
                  <th>Nom</th>
                  <th>Prénom</th>
                  <th>Téléphone</th>
                  <th>Email</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let ut of utilisateurs; let i=index">
                <td><span>{{ut.nom}}</span></td>
                <td><span>{{ut.prenom}}</span></td>
                <td><span>{{ut.telephone}}</span></td>
                <td><span>{{ut.email}}</span></td>
                <td class="alignbtn">
                    <button class="edit" (click)="updateForm(ut,i,content)" title="Modifier" [disabled]="desactiverButton">
                      <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                    </button>

                    <button class="delete" title="Supprimer" (click)="deleteUtilisateur(ut.id,i)" [disabled]="desactiverButton">
                      <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
                    </button>

                    <button class="loaderr" *ngIf="currentIndex2==i">
                      <i class="fa fa-spinner fa-pulse"></i>
                    </button>
                </td>
            </tr>
          </tbody>
      </table>
    </div>

  </div>
</div>



<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" *ngIf="!isUpdate">Ajouter un utilisateur</h4>
    <h4 class="modal-title" id="modal-basic-title" *ngIf="isUpdate">Modifier un utilisateur</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')" [disabled]="desactiverButton">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div class="row">
          <div class="col-md-6 form-group">
            <label for="nom">Nom</label>
            <div class="input-group">
              <input id="nom" name="nom" class="form-control" formControlName="nom" [ngClass]="{ 'is-invalid': (submitted || loginForm.get('nom').dirty || loginForm.get('nom').touched) && loginForm.get('nom').errors?.required}">
              <div *ngIf="loginForm.get('nom').errors" class="invalid-feedback">
                <div *ngIf="(submitted || loginForm.get('nom').dirty || loginForm.get('nom').touched) && loginForm.get('nom').errors?.required">le nom est obligatoire</div>
              </div>

           </div>
          </div>
          <div class="col-md-6 form-group">
            <label for="prenom">Prénom</label>
            <div class="input-group">
              <input id="prenom" name="prenom" class="form-control" formControlName="prenom" [ngClass]="{ 'is-invalid': (submitted || loginForm.get('prenom').dirty || loginForm.get('prenom').touched) && loginForm.get('prenom').errors?.required}">
              <div *ngIf="loginForm.get('prenom').errors" class="invalid-feedback">
                <div *ngIf="(submitted || loginForm.get('prenom').dirty || loginForm.get('prenom').touched) && loginForm.get('prenom').errors?.required">le prénom est obligatoire</div>
              </div>
            </div>
          </div>
      </div>

      <div class="row">
        <div class="col-md-6 form-group">
          <label for="telephone">Téléphone</label>
          <div class="input-group">
            <input id="telephone" name="telephone" class="form-control" formControlName="telephone" [ngClass]="{ 'is-invalid': (submitted || loginForm.get('telephone').dirty || loginForm.get('telephone').touched) && (loginForm.get('telephone').errors?.required || loginForm.get('telephone').errors?.pattern)}">
            <div *ngIf="loginForm.get('telephone').errors" class="invalid-feedback">
              <div *ngIf="(submitted || loginForm.get('telephone').dirty || loginForm.get('telephone').touched) && loginForm.get('telephone').errors?.required">le téléphone est obligatoire</div>
              <div *ngIf="loginForm.get('telephone').errors?.pattern">Numéro téléphone invalide</div>
            </div>
          </div>
        </div>
        <div class="col-md-6 form-group">
          <label for="email">Email</label>
          <div class="input-group">
            <input id="email" name="email" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': (submitted || loginForm.get('email').dirty || loginForm.get('email').touched ) && (loginForm.get('email').errors?.required || loginForm.get('email').errors?.pattern)}">
            <div *ngIf="loginForm.get('email').errors" class="invalid-feedback">
              <div *ngIf="(submitted || loginForm.get('email').dirty || loginForm.get('email').touched ) && loginForm.get('email').errors?.required">l'email est obligatoire</div>
              <div *ngIf="loginForm.get('email').errors?.pattern">Email invalide</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 form-group">
          <label for="datenais">Date de Naissance</label>
          <div class="input-group">
            <input type="date" id="datenais" name="datenais" class="form-control" formControlName="datenais" [ngClass]="{ 'is-invalid': (submitted || loginForm.get('datenais').dirty || loginForm.get('datenais').touched) && loginForm.get('datenais').errors?.required}">
            <div *ngIf="loginForm.get('datenais').errors" class="invalid-feedback">
              <div *ngIf="(submitted || loginForm.get('datenais').dirty || loginForm.get('datenais').touched) && loginForm.get('datenais').errors?.required">la date de naissance est obligatoire</div>
            </div>
          </div>
        </div>
        <div class="col-md-6 form-group">
          <label for="sexe">Sexe</label>
          <select class="form-control" name="sexe" (change)="checkNumeroPiece()"  formControlName="sexe" [ngClass]="{ 'is-invalid': (submitted || loginForm.get('sexe').dirty || loginForm.get('sexe').touched) && loginForm.get('sexe').errors?.required}">
            <option value="" disabled>Choisir le sexe</option>
            <option *ngFor="let ps of tabSexe" value="{{ps.value}}">{{ ps.name }}</option>
          </select>
           <div *ngIf="loginForm.get('sexe').errors" class="invalid-feedback">
             <div *ngIf="(submitted || loginForm.get('sexe').dirty || loginForm.get('sexe').touched) && loginForm.get('sexe').errors?.required">le sexe est obligatoire</div>
           </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 form-group">
          <label for="piece">Type de Piéce</label>
          <select class="form-control" name="piece" (change)="checkNumeroPiece()" formControlName="piece" [ngClass]="{ 'is-invalid': (submitted || loginForm.get('piece').dirty || loginForm.get('piece').touched) && loginForm.get('piece').errors?.required}">
            <option value="" disabled>Choisir le type de piéce</option>
            <option *ngFor="let pe of tabPiece" value="{{pe.value}}">{{ pe.name }}</option>
        </select>
        <div *ngIf="loginForm.get('piece').errors" class="invalid-feedback">
          <div *ngIf="(submitted || loginForm.get('piece').dirty || loginForm.get('piece').touched) && loginForm.get('piece').errors?.required">le type de piéce est obligatoire</div>
        </div>
        </div>
        <div class="col-md-6 form-group">
          <label for="numeropiece">Numero Piéce</label>
          <div class="input-group">
            <input id="numeropiece" (blur)="checkNumeroPiece()" name="numeropiece" class="form-control" formControlName="numeropiece" [ngClass]="{ 'is-invalid': (submitted || loginForm.get('numeropiece').dirty || loginForm.get('numeropiece').touched) && loginForm.get('numeropiece').errors?.required}">
            <div *ngIf="loginForm.get('numeropiece').errors" class="invalid-feedback">
              <div *ngIf="(submitted || loginForm.get('numeropiece').dirty || loginForm.get('numeropiece').touched) && loginForm.get('numeropiece').errors?.required">le numéro de piéce est obligatoire</div>
            </div>
            <div class="pieceError" *ngIf="numeroPieceError!=''"> {{numeroPieceError}} </div>
          </div>
        </div>
      </div>



      <div class="row">

        <div class="col-md-6 form-group">
          <label for="paysNais">Pays de Naissance</label>
          <select class="form-control" name="paysNais"  formControlName="paysNais" [ngClass]="{ 'is-invalid': (submitted || loginForm.get('paysNais').dirty || loginForm.get('paysNais').touched) && loginForm.get('paysNais').errors?.required}">
            <option value="" disabled>Choisir le pays de naissance</option>
            <option *ngFor="let pn of tabNais" value="{{pn.value}}">{{ pn.name }}</option>
        </select>
        <div *ngIf="loginForm.get('paysNais').errors" class="invalid-feedback">
          <div *ngIf="(submitted || loginForm.get('paysNais').dirty || loginForm.get('paysNais').touched) && loginForm.get('paysNais').errors?.required">le pays de naissance est obligatoire</div>
        </div>
        </div>
        <div class="col-md-6 form-group">
          <label for="adresse">Adresse</label>
          <div class="input-group">
            <input id="adresse" name="adresse" class="form-control" formControlName="adresse" [ngClass]="{ 'is-invalid': (submitted || loginForm.get('adresse').dirty || loginForm.get('adresse').touched) && loginForm.get('adresse').errors?.required}">
             <div *ngIf="loginForm.get('adresse').errors" class="invalid-feedback">
                <div *ngIf="(submitted || loginForm.get('adresse').dirty || loginForm.get('adresse').touched) && loginForm.get('adresse').errors?.required">l'adresse est obligatoire</div>
              </div>
          </div>
        </div>
      </div>

      <div class="text-center">

          <button type="button" class="btn btn-danger" (click)="modal.close('Save click')" style="margin-right: 50px;" [disabled]="desactiverButton">Annuler</button>
          <button data-dismiss="modal" class="btn btn-info" *ngIf="!isUpdate" [disabled]="desactiverButton">
              <i class="fa fa-spinner fa-pulse" *ngIf="btnAjoutSpinner"></i>&nbsp;&nbsp;Ajouter</button>
          <button data-dismiss="modal" class="btn btn-info" *ngIf="isUpdate" [disabled]="desactiverButton">
            <i class="fa fa-spinner fa-pulse" *ngIf="btnAjoutSpinner"></i>&nbsp;&nbsp;
            Modifier</button>
      </div>
    </form>
  </div>
</ng-template>
